.header ul {
    list-style: none;
}

.header ul li {
    display: inline-block;
    margin-left: 15px;
}

.logo_img {
    width: 150px;
    max-width: 100%;
}

.header {
    display: flex;
}

.header ul li a {
    text-decoration: none;
    color: #000000;
    padding-left: 19px;
    padding-right: 19px;
    padding-top: 19px;
    padding-bottom: 19px;
    font-size: 21px;
    letter-spacing: 0px;
}

.header ul li a:hover {
    color: #145294;
}

.logo_head {
    margin-left: 100px;
}


/* hero section style */

.hero_section {
    display: flex;
}

.hero_text h1 {
    font-size: 40px;
}

.hero_text {
    padding-top: 50px;
    padding-right: 20px;
    padding-left: 20px;
}

.hero_text p {
    font-family: "Asap", Sans-serif;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5em;
    margin-bottom: 35px;
}

.get_in_touch_btn {
    font-family: "Open Sans", Sans-serif;
    font-size: 1rem;
    font-weight: 600;
    padding: 15px 30px 15px 30px;
    background: #145294;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
}

img.img_hero {
    max-width: 100%;
    height: auto;
    width: 600px;
}


/* about section styling */

.about_section {
    display: flex;
}

.about_img {
    max-width: 100%;
    width: 600px;
}

.about_text {
    padding-top: 50px;
    padding-right: 20px;
    padding-left: 20px;
}

.qualitiy_sec {
    display: flex;
}

.experience_sec {
    display: flex;
}

img.qualitiy_f_icon {
    max-width: 78%;
}

img.experience_f_icon {
    max-width: 78%;
}

.about_image {
    padding-top: 135px;
}

.experience_sec h1 {
    color: #145294;
}

.qualitiy_sec h1 {
    color: #145294;
}

.section_help h1 {
    text-align: center;
}

.section_help p {
    text-align: center;
}